.App {
  text-align: center;
  background-color: aliceblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display{
  display: grid;
  padding: 3%;
  background-color: burlywood;
  border-right: 5px solid rgb(224, 141, 32);
  border-bottom: 5px solid rgb(224, 141, 32);
  box-shadow: 5px 5px 10px rgb(88, 86, 86);
}
.card{
  transition: transform .50s;
}
.card:hover{
  transform: scale(1.10);
  box-shadow: 5px 5px 10px rgb(88, 86, 86);
  
}
.urlbar{
  padding: 1%;
  margin-top:50px;
  margin-bottom: 20px;
  background-color: burlywood;
  border-right: 5px solid rgb(224, 141, 32);
  border-bottom: 5px solid rgb(224, 141, 32);
  box-shadow: 5px 5px 10px rgb(88, 86, 86);
}
.accbar{
  padding: 1%;

  margin-bottom: 20px;
  background-color: burlywood;
  border-right: 5px solid rgb(224, 141, 32);
  border-bottom: 5px solid rgb(224, 141, 32);
  box-shadow: 5px 5px 10px rgb(88, 86, 86);
 
}
.titlebar{
  padding: 1%;
  margin-top:50px;
  background-color: burlywood;
  border-right: 5px solid rgb(224, 141, 32);
  border-bottom: 5px solid rgb(224, 141, 32);
  box-shadow: 5px 5px 10px rgb(88, 86, 86);
}